[Unit]
Description=Initial Setup Script
After=vmtoolsd.target
Wants=vmtoolsd.target
ConditionPathExists=!/secadmin/.ran_customization

[Service]
ExecStart=/usr/local/bin/setup.sh
Type=oneshot

[Install]
WantedBy=multi-user.target